:root {
    --cor-fundo: #FBE8EB;
    --cor-principal: #F5F0F6; 
    --cor-secundaria: #F1C6C6;
    --cor-destaque: #D7A0A9;
    --cor-texto: #3C3C3C;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.caixa-principal {
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1 {
    color: var(--cor-destaque);
}
